/* Reseting the default centering styles */
.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}